*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/module_navigation/src/androidTest/java/com/example/fragment/module/navigation/
/module_navigation/src/test/java/com/example/fragment/module/navigation/
