<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".WanApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name_value}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wan"
        tools:ignore="DataExtractionRules">

        <meta-data
            android:name="app_channel"
            android:value="${app_channel_value}" />

        <activity
            android:name=".WanActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|fontScale|density|orientation|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Wan.Splash"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.fragment.project"
                    android:scheme="wan" />
            </intent-filter>
        </activity>

    </application>

</manifest>