<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fragment.project">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash">

        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|fontScale|density|orientation"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/user_graph" />
            <nav-graph android:value="@navigation/wan_graph" />
            <nav-graph android:value="@navigation/web_graph" />
        </activity>

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

    </application>

</manifest>